*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

:root {
  --background-color: #f3f6ff;
  --secondary-color: #e8ebf3;
  --divider-color: #e2e5f1;
  --border-color: #d4d7e5;
  --input-color: #b4b7c9;
  --text-muted-color: #9397ad;
  --text-color: #585c7b;
  --nav-color: #33354d;
  --heading-color: #0b0f19;

  --brand_primary: #6366f1;
  --system_error: #ef4444;
  --system_success: #22c55e;
  --system_warning: #ffba08;
  --system_info: #4c82f7;

  --gradient-color: linear-gradient(
    90deg,
    rgba(99, 102, 241, 1) 0%,
    rgba(139, 92, 246, 1) 50%,
    rgba(217, 70, 239, 1) 100%
  );

  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

[data-theme='dark'] {
  --background-color: #0b0f19;
  --secondary-color: #151822;
  --divider-color: #565973;
  --border-color: #9397ad;
  --input-color: #b4b7c9;
  --text-muted-color: #d4d7e5;
  --text-color: #e2e5f1;
  --nav-color: #eff2fc;
  --heading-color: #f3f6ff;

  --radial-gradient: radial-gradient(
    118% 116.18% at 50% 100%,
    rgba(99, 102, 241, 0.1) 0%,
    rgba(218, 70, 239, 0.05) 50%,
    rgba(19, 16, 34, 0.01) 100%
  );
}

html,
body {
  scroll-behavior: smooth;
  color: var(--text-color);
  background-color: var(--background-color);
  width: 100%;
}

/* MARK: Header */

.header {
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  margin: 0.7rem auto;
  padding: 1rem;

  @media (min-width: 768px) {
    margin: 1.25rem;
  }

  @media (min-width: 1024px) {
    height: 76px;
    margin: 0 auto;
  }

  .darkmode-signin-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;

    .switch {
      display: inline-flex;
      align-items: center;
      padding-right: 22px;

      span {
        display: none;
      }

      span::before {
        content: 'Light Mode >';
      }

      &.toggle-dark {
        span::before {
          content: 'Dark Mode >';
        }
      }

      @media (min-width: 768px) {
        padding-right: 47px;

        span {
          display: block;
        }
      }

      .theme-switch {
        background-color: var(--input-color);
        width: 46px;
        height: 24px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: left 0.3s ease-in-out;
        justify-content: end;

        .circle {
          content: '';
          width: 24px;
          height: 24px;
          background-color: #fff;
          border: 3px solid var(--input-color);
          border-radius: 50px;
        }
      }

      &.toggle-dark .theme-switch {
        justify-content: start;
      }
    }
  }

  .menu {
    display: inline-block;
    background-color: transparent;
    border: none;
    position: relative;
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    @media (min-width: 1024px) {
      display: none;
    }

    .burger {
      position: absolute;
      right: 0;
      top: 15px;
      width: 1.5rem;
      height: 2.2px;
      background-color: var(--text-color);
      transition: all 0.5s ease-in-out;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 1.5rem;
        height: 2.2px;
        background: var(--text-color);
        transition: all 0.5s ease-in-out;
      }

      &::before {
        transform: translateY(-7px);
      }
      &::after {
        transform: translateY(7px);
      }
    }
  }

  .signin-btn {
    display: none;
    padding: 0.56rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    background: var(--Brand-Primary, #6366f1);
    color: var(--White, #fff);
    text-decoration: none;

    @media (min-width: 1024px) {
      display: inline-flex;
    }
  }
}

/* MARK: Hero section*/

.hero {
  width: 100%;
  color: var(--text-color);
  background: radial-gradient(
    118% 116.18% at 50% 100%,
    rgba(99, 102, 241, 0.1) 0%,
    rgba(218, 70, 239, 0.05) 41.83%,
    rgba(241, 244, 253, 0.07) 82.52%
  );

  @media (min-width: 768px) {
    height: 38.8rem;
  }

  @media (min-width: 1200px) {
    height: 50rem;
  }

  .hero-section {
    max-width: 1320px;
    margin: 0 auto;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: 20% 10% 35.8%;
      padding: 0 2rem;
    }

    @media (min-width: 1024px) {
      width: 80%;
    }

    @media (min-width: 1200px) {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 15% 25% 35% 25%;
      padding: 0 1rem;
    }

    .hero-title {
      color: var(--heading-color);
      padding: 2rem;
      text-align: center;

      @media (min-width: 768px) {
        width: 30rem;
        font-size: 1.4rem;
        font-weight: 800;
        margin: 0 auto;

        grid-area: 1 / span 3;
      }

      @media (min-width: 1200px) {
        grid-area: 2 / 1;
        text-align: left;
        align-self: end;
        width: 100%;
        padding: 0 8rem 0 0;
        font-size: 1.8rem;
      }
    }

    .hero-content {
      padding-bottom: 6rem;

      @media (min-width: 768px) {
        grid-area: 3 / 1;
      }

      .hero-text {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.7rem;
        padding: 0.7rem;

        @media (min-width: 768px) {
          display: flex;
          flex-direction: column;
          text-align: left;
          padding-left: 0;
        }

        @media (min-width: 1200px) {
          padding: 1.5rem 0;
        }
      }

      .link-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 2rem;

        @media (min-width: 768px) {
          flex-direction: row;
        }

        .link-btn {
          .apple-icon {
            height: 40px;
          }

          .google-icon {
            height: 60px;
          }
        }
      }
    }

    .hero-image {
      display: none;
      position: relative;
      height: 27rem;
      overflow: hidden;
      grid-area: 2 / span 2 / 2;

      @media (min-width: 768px) {
        display: block;

        img {
          height: 118%;
        }
      }

      @media (min-width: 1200px) {
        grid-area: 1 / 2 / span 3;
        height: 800px;

        img {
          padding-top: 8rem;
        }
      }

      .phone-front {
        position: absolute;
        right: 0;
        z-index: 1;
      }

      .phone-behind {
        position: absolute;
        top: 5rem;
        right: 9rem;

        @media (min-width: 1200px) {
          top: 9rem;
          right: 15rem;
        }
      }
    }
  }
}

/* MARK: Brands section*/

.brands {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    gap: 1.5rem;
    padding: 1.5rem;
  }

  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
    padding: 4rem;
    gap: 1.5rem;
  }

  .brand-logo {
    width: 196px;
    height: 100px;
    border: 1px solid var(--divider-color);
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      &:nth-child(n + 5) {
        display: none;
      }
    }

    @media (min-width: 1200px) {
      &:nth-child(n + 5) {
        display: flex;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0 4.4px 12px -1px rgba(19, 16, 34, 0.06),
          0 2px 6.4px -1px rgba(19, 16, 34, 0.03);
      }
    }
  }
}

/* MARK: Features section*/

.features {
  max-width: 1296px;
  margin: 0 auto;
  font-size: 1.125rem;
  font-style: normal;
  text-align: center;
  line-height: 1.8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1.5rem 0;

  @media (min-width: 768px) {
    padding: 2rem;
  }

  @media (min-width: 1024px) {
    width: 80%;
  }

  @media (min-width: 1200px) {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 8.6rem;
    text-align: left;

    padding-bottom: 7rem;
  }

  .features-title {
    color: var(--heading-color);
    font-size: 1.7rem;
    padding-bottom: 1.5rem;

    @media (min-width: 1024px) {
      font-size: 2.5rem;
      font-weight: 900;
    }
  }

  .features-text {
    padding-bottom: 1.5rem;
  }

  .card-container {
    text-align: left;
    padding: 0.655rem;

    img {
      background-color: var(--secondary-color);
      padding: 1rem;
      height: fit-content;
      border-radius: 0.5rem;
    }

    .card {
      display: flex;
      padding-top: 0.5rem;

      h3 {
        color: var(--heading-color);
        padding-left: 0.8rem;
        font-weight: 800;
      }

      p {
        font-size: 1rem;
        padding: 0.8rem;

        @media (min-width: 1024px) {
          padding-right: 1rem;
        }
      }
    }

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 33.33%);
      gap: 1rem;
      padding-bottom: 4rem;
    }
  }

  .features-image {
    display: none;

    @media (min-width: 1200px) {
      display: block;
    }
  }
}

/* MARK: How Does It Work? */

.functionality {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 4rem 0.8rem;

  .func-title {
    color: var(--heading-color);
    font-size: 1.7rem;
    font-weight: 800;
    padding-bottom: 2rem;

    @media (min-width: 768px) {
      font-size: 2rem;
    }

    @media (min-width: 1024px) {
      font-size: 2.5rem;
    }
  }

  @media (min-width: 1024px) {
    .tablet-view {
      display: none;
    }
  }

  .desktop-view {
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }

  .func-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;

    @media (min-width: 768px) {
      img {
        width: 12.6rem;
      }
    }

    @media (min-width: 1200px) {
      gap: 7rem;
      img {
        width: 20.5rem;
      }
    }

    .side-image {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }
  }

  .func-subtitle {
    color: var(--heading-color);
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 1.8rem;
    max-width: 27rem;
    margin: 0 auto;
    padding: 1rem 2rem;

    @media (min-width: 1024px) {
      font-size: 1.5rem;
    }
  }

  .func-text {
    max-width: 27rem;
    margin: 0 auto;
    line-height: 1.6rem;

    @media (min-width: 1024px) {
      max-width: 40rem;
    }
  }
}

/* MARK: App Features */

.app-features {
  display: none;

  @media (min-width: 1200px) {
    max-width: 1320px;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 7rem 0;
    margin: 0 auto;

    button {
      display: inline-flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
      padding: 0.6rem 1.5rem;
      border-radius: 6px;
      border: none;
      background-color: var(--brand_primary);
      color: white;
      margin: 2.5rem 0;
    }

    .upper-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10rem;

      .transfer-text {
        width: 26rem;

        h2 {
          font-size: 2rem;
          font-weight: 800;
          color: var(--heading-color);
          padding: 4rem 1.6rem 2rem 0;
        }

        .checked-lines {
          .lines {
            line-height: 2rem;
            display: inline-flex;
            gap: 0.5rem;
          }
        }
      }

      .transfer-image {
        position: relative;

        .avatar-img {
          position: absolute;
          right: -3rem;
          bottom: -3rem;
          z-index: 1;
        }
      }
    }

    .lower-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8rem;
      padding-left: 3rem;

      .payment-image {
        position: relative;

        .card-img {
          position: absolute;
          top: 7rem;
          right: -3rem;
          z-index: 1;
        }
      }

      .payment-text {
        width: 32rem;

        h2 {
          font-size: 2rem;
          font-weight: 800;
          color: var(--heading-color);
          padding: 2rem 1.6rem 2rem 0;
        }
        .pay-wrapper {
          display: flex;
          gap: 2.5rem;

          .pay-icon {
            background-color: var(--secondary-color);
            padding: 1rem;
            border-radius: 0.5rem;
          }
          .pay-text {
            line-height: 1.6rem;
            width: 15rem;
            padding-top: 1rem;
          }
        }
      }
    }
  }
}

/* MARK: Testimonials */

/* MARK: FAQ */

/* MARK: Subscribe */

/* MARK: Footer */
